.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Fills the entire viewport height */
}

.outlet-container {
  /* flex: 1; */
  min-height: 90.5vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.outlet-container > * {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
