/* @import "bootstrap/dist/css/bootstrap.min.css"; */

:root {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 400;

  --primary-color: #005288;
  --secondary-color: #0078ae;
  --accent-color: #5a5b5d;
  --text-color: #000000;
  --background: #fff;

  /* color-scheme: light dark; */
  color: var(--text-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0px;
  /* background-color: var(--background); */
  /* min-height: 100vh; */
}

body {
  margin: 0;
  padding: 0;
}

ol {
  list-style-type: none;
  font-weight: bold;
  font-size: 20px;
}

li {
  list-style-type: none;
  font-weight: bold;
  font-size: 20px;
}

a {
  text-decoration: none;
}

a:link,
a:visited {
  color: inherit;
}

a:hover {
  color: inherit;
  text-decoration: underline;
}
a:active {
  color: grey;
}

h2 {
  font-size: 40px;
}
