:root {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 400;

  --primary-color: #005288;
  --secondary-color: #0078ae;
  --accent-color: #5a5b5d;
  --text-color: #000000;
  --background: #f8f8f8;

  color-scheme: light dark;
  color: var(--text-color);
  background-color: var(--background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0px;
}

body {
  margin: 0;
  padding: 0px;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

a {
  text-decoration: none;
}

a:link,
a:visited {
  color: inherit;
}

/* Remove link color and underline on hover (optional) */
a:hover {
  color: inherit;
  text-decoration: underline;
}
a:active {
  color: grey;
}

h2 {
  font-size: 40px;
}
